@model TicketViewModel

<h3 class="mt-4 mb-4">Create Ticket</h3>

<form asp-action="CreateTicket">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- add form group for StudentId            -->
    <div class="form-group">
        <!--     a label for StudentId               -->
        <label asp-for="StudentId" class="control-label"></label>
        <!--     a select list to populate StudentId -->
        <select asp-for="StudentId" class="form-control" asp-items="@Model.Students">
            <option>Select Student</option>
        </select>
        <!--     a validation span for StudentId     -->
        <span asp-validation-for="StudentId" class="text-danger"></span>
    </div>

    <!-- add a form group for Issue              -->
    <div class="form-group">
        <!--     a label for Issue                   -->
        <label asp-for="Issue" class="control-label"></label>
        <!--     a textarea 5 rows for Issue         -->
        <textarea rows="5" asp-for="Issue" class="form-control"></textarea>
        <!--     a validation span for Issue         -->
        <span asp-validation-for="Issue" class="text-danger"></span>
     </div>
   
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}