@model Student

<h3 class="mt=4 mb-4">Student Details</h3>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>
    
    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">@Model.Course</dd>
    
    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">@Model.Age</dd>
    
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>
</dl>

<div>
    <!-- Q1 - add link to redirect to Index action -->

    <!-- Q3b - add navigation link to Details action, passing the correct route id parameter --> 

</div>
