@model IList<Student>

<h1>Student</h1>

<h3>Search Results</h3>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Course</td>
            <td>Email</td>
            <td>Age</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Course</td>
                <td>@s.Email</td>
                <td>@s.Age</td>
            </tr>
        }
    </tbody>
</table>