@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is the home page</h2>

    <p> The current date time is <strong> @ViewBag.Date </strong> </p>
    <p> @ViewBag.Message </p>
</div>
