@model ServiceViewModel

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-asp-controller="Home" asp-action="Index" asp-route-orderBy="">Home</a></li>
    <li class="breadcrumb-item"><a asp-asp-controller="Vehicle" asp-action="Index" asp-route-orderBy="">Vehicles</a></li>
    <li class="breadcrumb-item"><a asp-asp-controller="Vehicle" asp-action="Details" asp-route-id="@Model.VehicleID">Details</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Service</li>
  </ol>
</nav>

<h3>Add Service Record</h3>

<form asp-action="AddService">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- <input class="form-control" type="hidden" asp-for="VehicleID"> -->

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label asp-for="VehicleID" class="control-label">Vehicle ID</label>
            <input class="form-control" type="text" placeholder="@Model.VehicleID" asp-for="VehicleID" readonly>
            </div>
        </div>

        <!-- Carried Out By -->
        <div class="col-md-3">
            <div class="form-group">
            <label asp-for="CarriedOutBy" class="control-label">Carried Out By</label>
            <input asp-for="CarriedOutBy" class="form-control"/>
            <span asp-validation-for="CarriedOutBy" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        
        <!-- Date Of Service -->
        <div class="col-6 col-md-3">
            <div class="form-group">
            <label asp-for="DateOfService" class="control-label">Date of Service</label>
            <input asp-for="DateOfService" class="form-control" placeholder="yyyy/mm/dd" />
            <span asp-validation-for="DateOfService" class="text-danger"></span>
            </div>
        </div>
        <!-- Milage -->
        <div class="col-6 col-md-3">
            <div class="form-group">
            <label asp-for="CurrentMilage" class="control-label">Milage at Service</label>
            <input asp-for="CurrentMilage" class="form-control"/>
            <span asp-validation-for="CurrentMilage" class="text-danger"></span>
            </div>
        </div>
        <!-- Cost Of Service -->
        <div class="col-6 col-md-3">
            <div class="form-group">
            <label asp-for="Cost" class="control-label">Cost Of Service</label>
            <div class="input-group-prepend">
                <div class="input-group-text">£</div>
                <input asp-for="Cost" class="form-control"/>
            </div>
            <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="form-group">
            <label asp-for="WorkDescription" class="control-label">Description Of Work Carried Out</label>
            <textarea asp-for="WorkDescription" class="form-control" rows="4"></textarea>
            <span asp-validation-for="WorkDescription" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- Buttons -->
    <div class="form-group">
        <input type="submit" value="Add Service" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.VehicleID">Cancel</a>
    </div>

</form>

