

<div class="jumbotron">
  <h1 class="display-4">SMS</h1>
  <p class="lead">Student Management System</p>
  <hr class="my-4">
  <p>The student management system is used to manage students, modules and tickets.</p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" asp-action="About" role="button">About Us</a>
  </p>
</div>