@{
    ViewData["Title"] = "About";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">    
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Vehicle Management System</h1>
        <p class="lead">This is an ASP.NET Core MVC Application Using EntityFramework Core.</p>
        
        <hr class="my-4">

        <p>Provides vehicle fleet management and service record functionality</p>

        <p>Developed as part of COM741 Web Based Application Development Module</p>
        
        <p>(c) - Ulster University </p>

    
            <p> The site logo is 'Car' by Fasobrun Jamil from the Noun Project.
        </p>
        
            <img class="img-fluid" style="max-width: 30%" src="~/img/Car_Attributed.png" /> 
        

        <p> The image from home page found at <a href="https://commons.wikimedia.org/wiki/File:Araco9.gif"> 
        Wikimedia Commons</a> </p>

        <p> GitHub Icon By Simple Icons at : <a href ="https://github.com/simple-icons/simple-icons">
         https://github.com/simple-icons/simple-icons</a>
   
         
        <p> The Complete site code can be found at: <a href="https://github.com/ConorMcErlean/COM741_WebDev/tree/master/Assignment">
        https://github.com/ConorMcErlean/COM741_WebDev/</a> </p>
        
    </div>
</div>
