@{
    ViewData["Title"] = "Home Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">    
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="img-fluid rounded mx-auto d-block img-home" src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Araco9.gif" 
        alt="Car Gif Wikimedaia Commons at: https://commons.wikimedia.org/wiki/File:Araco9.gif"/>
        <h1 class="display-4">Vehicle Management System</h1>
        <p class="lead">View all available vehicles & their service records.</p>
        
        <hr class="my-4">

        <p>View our current fleet: </p>
        <button class="btn btn-primary" asp-controller="Vehicle" asp-action="Index">All Vehicles</button>

        
    </div>
</div>

