@model Student

<h3 class="mt=4 mb-4">Student Details</h3>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>
    
    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">@Model.Course</dd>
    
    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">@Model.Age</dd>
    
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>
</dl>


<div class="mt-4 mb-4"> 
    <a asp-action="Index" class="btn btn-secondary btn-sm" >Student List</a>
    <a asp-action="Edit" asp-route-id=@Model.Id class="btn btn-secondary btn-sm">Edit</a>

    <!-- Q5 add navigation link to create a ticket -->
    <a asp-action="CreateTicket" asp-route-id=@Model.Id class="btn btn-primary btn-sm">Create Ticket</a>
  
</div>

<!-- Q5 Add Partial rendering the student tickets -->
<partial name="_Tickets" />



